$block-width: 20rem
    
#main
    width: $block_width
    background-color: green
    color: #fff
    border-radius: 5px
    padding: 10px 20px
    position: absolute
    text-align: center
    font-size: 2rem
    top: 50%
    left: calc(50% - ($block-width / 2))
    transform: translate(0, -50%)

